.menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headerContainer {
  height: 86px;
  background-color: #fff;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 156px;
  height: 34px;
}