.downloadButton {
    color: #007960;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayer {
    margin-bottom: 50px;
}

.stickyMenu {
    position: sticky;
    top: 0;
    z-index: 100;
}