.container {
    padding: 30px;
    background-color: #007960;
    color: #fff;
}

.titleContainer {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 20px;
}

.textContainer {
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
}

.socialsIcons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 7px;
}

.icon {
    margin-right: 15px;
    font-size: 28px;
}